services:
  staging:
    build: .
    ports:
      - "5000:4000"
    environment:
      - NODE_ENV=staging
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:4000/health"]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 3s

  production:
    build: .
    ports:
      - "8080:4000"
    environment:
      - NODE_ENV=production
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:4000/health"]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 3s
